<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Call</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    {% include 'nav.html' %}

    <div class="bg-images--container">
        <img src="/static/images/bg2.jpg" alt="">
        <img src="/static/images/bg1.jpg" alt="">
    </div>
    <main>
        <div class="main-container">
            <h1>Social Call</h1>
            <div class="button-container">
                <a href="/register">Regsiter as Volunteer</a>
                <a href="/volunteers">Search Volunteer</a>
            </div>
        </div>
    </main>
    
</body>
</html>